version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sgss_medical_fund
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-key
      - DATABASE_URL=postgres://postgres:postgres@db:5432/sgss_medical_fund
    depends_on:
      - db

  frontend:
    build: ./Frontend
    ports:
      - "5000:5000"
    environment:
      - BACKEND_URL=http://backend:8000
      - NODE_ENV=production
    depends_on:
      - backend

volumes:
  postgres_data:
